<div id="post_content">
<div class="thecard", style="width: 1000px; background-color: white">
    <h1><%= @message2%></h1>
    This Ruby on Rails application reads data from radio buttons.
    <br>
    <br>
    Вы ответили на <%= @summa %> вопросов, все!
    <br>
    <br>
    <% hash = { 0 => "Неправильно", 1 => "Правильно" } %>

    
    Результаты:

     
    <div class="collection">
    <% for i in 0..19 %>
    <p>
  <a class="collection-item active">  <%= i+1%>) <%= @array1[5*i] %></a>
    
   <a class="collection-item">     <%= @array1[@data1[i].to_i + i + 1] %> - <%= hash[@array2[@data1[i].to_i].to_i] %></a>
    </p>
    <% end %> 
    </div>
    </div>
    </div>












