<div id="post_content">
<div class="thecard", style="width: 90%; background-color: white">
    <h5><%= @message2%></h5>
    
    <br>
    <br>
    Вы ответили на <%= @summa %> вопросов!
    <br>
    <br>
    <% hash = { 0 => "Неправильно", 1 => "Правильно" } %>

    
    <%= t "lessons.results"  %>

     
    <div class="collection">
    <% for i in 0..19 %>
    <p>
  <a class="collection-item active">  <%= i+1%>) <%= @array1[5*i] %></a>
    
   <a class="collection-item">     <%= @array1[@data1[i].to_i + i + 1] %> - <%= hash[@array2[@data1[i].to_i].to_i] %></a>
    </p>
    <% end %> 
    </div>

  <%= link_to "Shop", "/users/"+current_user.id.to_s+"/shop", class: "btn"  %>
   <%= link_to "Retry", :back, class: "btn"  %>
    <%= link_to "Leaders", leaderboard_path, class: "btn"  %>
     <%= link_to "Перейти к тестам", tests_path, class: "btn"  %>


    </div>
    </div>













  


