<% if current_user && current_user.admin? %>
<p id="notice"><%= notice %></p>
<div id="post_content">
<div class="thecard">
<h1>Listing Users</h1>
 <ul>
    <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: black;" %>
          <p style="margin-left: 11%">
         <%= submit_tag(t("users.search_user"), name: nil, class: "btn btn-default") %> 
        </p>
      <% end %>
   </ul>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.points %></td>
        <td><%= user.purchase %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Test', :controller => "users", :action => "test", :filename1 => "questions.txt", :filename2 => "answers.txt", :id => user.id %></td>
        <td><%= link_to 'Shop', :controller => "users", :action => "shop", :id => user.id %></td>
        <td><%= link_to 'Change Hero', :controller => "users", :action => "changehero", :id => user.id %></td>
        <td><%= link_to 'Hero', :controller => "users", :action => "hero", :id => user.id %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Users2', new_user_path %>
</div>
</div>
<% else %>
<div id="post_content">
<div class="thecard">
  <ul>
    <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: black;" %>
          <p style="margin-left: 11%">
         <%= submit_tag(t("users.search_user"), name: nil, class: "btn btn-default") %> 
        </p>
      <% end %>
   </ul>

  <table>
  <thead>
    <tr>
      <th><%= t "users.name" %></th>
      <th><%= t "users.avatar" %></th>
      <th><%= t "users.points" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= image_tag(user.avatar.url(:medium), class: "circular") %></td>
        
        <td><%= user.points %></td>
        <td><%= link_to(t('users.show'), user )%></td>
        <td><%= link_to(t('users.character'), :controller => "users", :action => "hero", :id => user.id) %></td>

      </tr>
    <% end %> 
  </tbody>
</table>
<%= will_paginate @users %>
</div>
</div>
 
<% end %>
