<p id="notice"><%= notice %></p>
<div id="post_content">
<div class="thecard">

<p>
  <strong><%= t "users.name" %></strong>
  <%= @user.name %>
</p>
<p>
 <%= image_tag(@user.avatar.url(:small), class: "circular") %>
 </p>
<p>
  <strong><%= t "users.location" %>:</strong>
  <%= link_to(t("users.find"), @user.location) %>
</p>

<p>
  <strong><%= t "users.points" %>:</strong>
  <%= @user.points %>
</p>

<%= link_to "Main", :controller => "users", :action => "index"%>
<img src = "222.jpg" alt="Покупка1" id="p1"/>
<img src = "222.jpg" alt="Покупка2" id="p2"/>
<img src = "222.jpg" alt="Покупка3" id="p3"/>
<img src = "222.jpg" alt="Покупка4" id="p4"/>
<img src = "222.jpg" alt="Покупка5" id="p5"/>
<img src = "222.jpg" alt="Покупка6" id="p6"/>
<% array = ["222.jpg"] %>
<% imgarr = ["0000.jpg","0001.jpg","0010.jpg","0011.jpg","0100.jpg","0101.jpg","0110.jpg","0111.jpg","1000.jpg","1001.jpg","1010.jpg","1011.jpg","1100.jpg","1101.jpg","1110.jpg","1111.jpg"] %>

<% imgarr2 = ["dog.jpg", "cat.jpg", "popugai.jpg"] %>

<%= image_tag imgarr[@user.purchase.to_i] %>
<%= image_tag imgarr2[@user.herotype.to_i - 1] %>
<%= @user.name %>
<%= @user.purchase %>

<button class="btn" id="copy-some-txt" onclick="document.getElementById('copy-some-txt').innerHTML = 'Copied! Now you can share'">Click to copy the link</button>
<script>
	$('#copy-some-txt').zclip({
    copy: "<%= request.original_url %>"

});
</script>

<script>
function myFunction() {
    document.getElementById("copy-some-txt").style.color = "red";
}
</script>

<p>
<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to(t("users.send"), new_message_path(:user => @user.id), {:style=>'color:white;'}) %><i class="material-icons right">send</i></button>
</p>

</div>
</div>
