<p id="notice"><%= notice %></p>
<div id="post_content">
<div class="thecard" style="height: 560px;">
<style>

 .leftblock {
 float: left;
}
 .rightblock {
float:right;
}

</style>
  <% if user_signed_in?  %>
<div class="leftblock">
<p>
  <strong><%= t "users.name"  %>:</strong>
  <%= @user.name %>
</p>
<p>
 <%= image_tag(@user.avatar.url(:medium), class: "circular") %>
 </p>
<p>
  <strong><%= t "users.location"  %>:</strong>
  <%= link_to(t("users.find"), @user.location) %>
</p>

<p>User rating <%= @user.rating %> </p>

<p>
  <strong><%= t "users.points"  %>:</strong>
  <%= @user.points %>
</p>



<p> <%= t "lessons.press"  %>  </p>

<p class="g-plus" data-action="share"></p>

<p> <a href="https://twitter.com/share" class="twitter-share-button" data-text="Jankenpon. Исследуй японский! Выбирайте персонажей, изучайте наши уроки, проходите тесты, с..." data-hashtags="japanese">Tweet</a> </p>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<p class="fb-share-button" data-href="http://main.jankenpon.info/users/<%= @user.id.to_s %>/" data-layout="button_count" data-mobile-iframe="true" data-no-turbolink="true" ><p>

<button class="btn" id="copy-some-txt" onclick="document.getElementById('copy-some-txt').innerHTML = 'Copied! Now you can share'">Click to copy the link</button>
<script>
	$('#copy-some-txt').zclip({
    copy: "<%= request.original_url %>"

});
</script>
<p>
<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to(t("users.send"), new_message_path(:user => @user.id), {:style=>'color:white;'}) %><i class="material-icons right">send</i></button>
</p>
</div>

<div class="rightlock"style="padding-left:50%;">

        <% if @user.herotype == 1 %>
        <%= image_tag(@user.herotype.to_s+@user.purchase.to_s+".jpg", size: "300x480") %>
        <% elsif @user.herotype == 2 %>
        <%= image_tag(@user.herotype.to_s+@user.purchase.to_s+".jpg", size: "480x480") %>
        <% else %>
        <% end %>
 
</div>
<% else %>

 To see this page you need to log in or sign up
<% end %>
</div>
</div>

