<div id="post_content">
<div class="thecard", style="width: 95%; background-color: white">



                                <% arrayrad = [0,0,0,0,0,0,0,0,0,0,0,0] %>
                <% @z = 0 %>
                <% questions = File.readlines(params[:filename1]) %> 
                <% answers = File.readlines(params[:filename2]) %> 
                <% 200.times do %>
                <% a1 = rand(20)*5 %>
                <% a2 = rand(20)*5 %>
                <% b = questions[a1] %>
                <% d = answers[a1] %>
                <% b1 = questions[a1+1]%>
                <% d1 = answers[a1 + 1] %>
                <% b2 = questions[a1+2]%>
                <% d2 = answers[a1 + 2] %>
                <% b3 = questions[a1+3]%>
                <% d3 = answers[a1 + 3] %> 
                <% b4 = questions[a1+4]%> 
                <% d4 = answers[a1 + 4] %>
                <% questions[a1] = questions[a2] %>
                <% answers[a1] = answers[a2] %>
                <% questions[a1+1] = questions[a2+1] %>
                <% answers[a1+1] = answers[a2+1] %>
                <% questions[a1+2] = questions[a2+2] %>
                <% answers[a1+2] = answers[a2+2] %>
                <% questions[a1+3] = questions[a2+3] %>
                <% answers[a1+3] = answers[a2+3] %>
                <% questions[a1+4] = questions[a2+4] %>
                <% answers[a1+4] = answers[a2+4] %>      
                <% questions[a2] = b %>
                <% answers[a2] = d %>
                <% questions[a2 + 1] = b1 %>
                <% answers[a2+1] = d1 %>
                <% questions[a2 + 2] = b2 %>
                <% answers[a2+2] = d2 %>
                <% questions[a2 + 3] = b3 %>
                <% answers[a2+3] = d3 %>
                <% questions[a2 + 4] = b4 %>
                <% answers[a2+4] = d4 %> 
 
                <% a1 = rand(4) %> 
                <% a2 = rand(4) %>
                <% b1 = questions[a1 + 1]%>
                <% d1 = answers[a1 + 1]%>
                <% b2 = questions[a1 + 6]%>
                <% d2 = answers[a1 + 6]%>
                <% b3 = questions[a1 + 11]%>
                <% d3 = answers[a1 + 11]%>
                <% questions[a1 + 1] = questions[a2 + 1]%>
                <% answers[a1 + 1] = answers[a2 + 1]%>
                <% questions[a1 + 6] = questions[a2 + 6]%>
                <% answers[a1 + 6] = answers[a2 + 6]%>
                <% questions[a1 + 11] = questions[a2 + 11]%>
                <% answers[a1 + 11] = answers[a2 + 11]%>
                <% questions[a2 + 1] = b1%>
                <% answers[a2 + 1] = d1%>
                <% questions[a2 + 6] = b2%>
                <% answers[a2 + 6] = d2%>
                <% questions[a2 + 11] = b3%>
                <% answers[a2 + 11] = d3%>
                
                <% end %>

             <% @path1 = Rails.root.to_s+"/usertmp/"+current_user.id.to_s+"tmp.txt" %>
             <%  @path2 = Rails.root.to_s+"/usertmp/"+current_user.id.to_s+"tmp2.txt" %>
             
                <% for i in 0..19 do %>
                <% answers.delete_at(i*5 - i) %>
                <% end %> 
                <% File.open(@path2, "w+") do |f| %> 
                <% f.puts(answers) %>
                <% end %>
                <% File.open(@path1, "w+") do |f| %> 
                <% f.puts(questions) %>
                <% end %>

 
                  
        <form action = "/users/<%=current_user.id%>/addpoints"> 
        <input type="hidden" name="aaa" value= <%= params[:id] %> >
          <input type="hidden" name="count" value= <%= params[:count]%> >
        

        <% for i in 0..19 do %>
    <h5><%= i+1 %>) <%=questions[5*i]%></h5> 
    <br>
    <% for j in 0..3 do %>
    <% @nnn =  4*i + j%>
      <%= j+1 %>. <input type="radio" class="radio" id="radio-<%=(4*i + j)%>" name="radio<%=i%>" checked value = <%=@nnn%> />
        <label for="radio-<%=(4*i + j)%>" id="lbl<%=(4*i + j)%>"><%=questions[5*i + j + 1]%></label>
       <br> 
    <% end %>
    <br> 
    <% end %>

        <input type="submit" id="submit" name = "AAA" value = "<%=t 'lessons.save_result' %>" class="btn">

    </form>

            </div>
            </div>


