<% if user_signed_in? %>
<div class="leaderboardposition">
 <div class="card" style="width: 20%; padding: 1em;">                            
<h6><%= link_to(t("lessons.leaders"), leaderboard_path) %></h6>



<h6>日本語の忍者:</h6>
<% @users.sort_by{|user| -user.points.to_i }[0...5].each_with_index do |user, index|%>

<li style="list-style-type: none; "> <% if user.name? %>
   <%= image_tag(user.avatar.url(:small), class: "leaderboardcircular") %>
  <% if user == @users.first %>
  日本語の将軍<%= link_to user.name, user, style: "color: crimson;" %>
  <% else %>
  <%= link_to user.name, user , style: "color: crimson;"%>
  <% end %>
      <% else %>
         Incognito
         <% end %>
<%= user.points %> </li>
<% end %>
</div>
</div>
<div id="post_content">
<%= link_to "Уроки українською", "http://main.jankenpon.info/tags/%23ua", class: "btn"%>
<%= link_to "Уроки на русском", "http://main.jankenpon.info/tags/%23ru", class: "btn"%>
</div>

<% @lessons.each do |lesson| %>


	
     <div id="post_content">
     <div class="card", style="width: 60%;">
     <ul id="menu">
    <li class="author">
     <% if lesson.user.name? %>
     <%=  lesson.user.name%> <%= t "lessons.who" %> <%= time_ago_in_words(lesson.created_at) %> <%= t "lessons.when" %> 
     <% else %>
     Incognito <%= t "lessons.who" %> <%= time_ago_in_words(lesson.created_at) %> <%= t "lessons.when" %> 
     <% end %>
    </li>﻿

  <li class="center"><% if lesson.user.name? %>
     <i> <%=  lesson.user.name%></i> 
     <% else %>
     <i> Incognito </i> 
     <% end %><%= image_tag(lesson.user.avatar.url(:medium), class: "circular") %></li>
  </ul>
		<h5 class "title" ><%= link_to lesson.title, lesson, {style: "color: black; position: relative"} %></h5>
     <i class="small material-icons">loyalty</i>
 
		<% lesson.tags.any? %>
    <div class="tags">
     <% lesson.tags.each do |tag| %>
     
        <%= link_to tag.name, tag_path(tag.name), class: "tag"%>
      
<% end %>
</div>


<ul id="menu">
  
	 <li id="like_post_<%=lesson.id%>", style="padding-top: 2%;">

       <%= link_to like_lesson_path(lesson), method: :put, remote: true, class: 'btn' do %> 
     <o> <%= t "lessons.like" %> </o>
     <i class="small material-icons">thumb_up</i> <o id="liker_<%=lesson.id%>"> <%= lesson.get_upvotes.size %> </o>
 <% end %>
 </li>
        
   
   <li id="dislike_post_<%=lesson.id%>", style="padding-top: 2%;">   
      <%= link_to dislike_lesson_path(lesson), method: :put, remote: true, class: 'btn' do %> 
     <o> <%= t "lessons.dislike" %> </o>
     <i class="small material-icons">thumb_down</i> <o id="disliker_<%=lesson.id%>"> <%= lesson.get_downvotes.size %> </o>
 <% end %>
 </li>
</ul>

     <ul id="menu">

 <li class="small material-icons", style="padding-left: 4%">insert_chart</li>
<%= "#{lesson.impressionist_count}" %> <%= t "lessons.views" %>

</ul>
  <div calss="saveme">
  </div>
  </div>
 
 </div>
<% end %>
<div style="padding-left: 24%">
<%= will_paginate @lessons %>
</div>
<% else %>
 <div style="padding-bottom: 30%; ">
<div id="post_content">


<%= link_to  locale: "ja" do %><button class="btn">日本語</button><%end%>
<%= link_to  locale: "ua" do %><button class="btn">Українська</button><%end%>
<%= link_to  locale: "en" do %><button class="btn">English</button><%end%>
<%= link_to  locale: "ru" do %><button class="btn">Русский</button><%end%>

</div>

 <div id="lead_form0" style="width: 83%; padding-left: 10%;">  

<div class="card" style="width: 70%;" >
<ul id="menu">
  <li> <h5><%= t "lessons.greetings1" %> </h5> </li>
  <li class="togo1"> <%= image_tag("togotogo.png", size: "160x100") %></li>
 </ul>
</div>

</div>


 <style>
.buttons { 
  width: 100%;
  table-layout: fixed;
 
}
.buttons .btn { 
  width: 100%;
  
}
</style>


<ul class="menu">
<li id="lead_form">  
<div id="post_content">
<div class="card">
<h5><%= t "lessons.greetings2" %></h5>
 <table class="buttons">
   
  <td style="padding: 1em; width: 350px;"><%= link_to(t("layouts.facebook"), user_omniauth_authorize_path(:facebook), class: "btn waves-effect waves-light") %></td>
</table>
<table class="buttons">

  <td style="padding: 1em; width: 350px;"><%= link_to(t("layouts.vk"), user_omniauth_authorize_path(:vkontakte), class: "btn waves-effect waves-light") %></td>
</table>
<table class="buttons">

    <td style="padding: 1em; width: 350px;"><%= link_to(t('layouts.registration'), new_user_registration_path, class: "btn") %></td>
  </table>
</div>
</div>
</li>

<li id="lead_form1" class="kani" style="width: 44%;">  
<div class="card" style="width: 80%">
<h5><%= t "lessons.greetings2_1" %></h5>
<div style="padding-left: 0%;"> <%= image_tag("kanikikun3.jpg", size: "350x600") %> </div>
</div>
</li>

</ul>

<div id="lead_form2">  
<div id="post_content">
<div class="card">
<h5><%= t "lessons.greetings3" %></h5>
<ul>
<li style="padding: 1em;"> <span class="btn", style="height: 100px; padding: 1.4em;">Урок 6. は、の и です, структура японского предложения.</span> </li> 
 <h5><%= t "layouts.forum"  %></h5>

<li style="padding: 1em;"> <%= link_to(t("lessons.forum"), "http://blog.jankenpon.info/en" , class: 'btn btn-default', style: "height: 100px; padding: 2.4em;")%> </li>
</ul>
</div>
</div>
</div>

<div id="lead_form3">  
<div id="post_content">
<div class="card">
<h5><%= t "lessons.greetings4" %></h5>
 日本語 が 大好き です。
                <br>
                <br>
    <input type="radio" class="radio" id="radio-1" name="radio" checked value = <%= %>/>
    <label for="radio-1" id="lbl1">にほんご が だいすき です。</label> 
                <br>
                <br>
    <input type="radio" class="radio" id="radio-2" name="radio" value = <%= %>/>
    <label for="radio-2" id="lbl2">Nihongo ga daisuki desu. </label>
                <br>
                <br>

</div>
</div>
</div>

<div id="lead_form4" class="kani3" style="width: 44%">  
<div id="post_content">
<div class="card" style="width: 80%">
<h5><%= t "lessons.greetings5" %></h5>
 <div class="card" style="width: 85%; padding: 1em;">                            
<h6><%= link_to(t("layouts.leaders"), leaderboard_path) %></h6>
<h6>日本語の忍者:</h6>
<% @users.sort_by{|user| -user.points.to_i }[0...5].each_with_index do |user, index|%>

<li style="list-style-type: none; "> <% if user.name? %>
   <%= image_tag(user.avatar.url(:small), class: "leaderboardcircular") %>
  <% if user == @users.first %>
  日本語の将軍<%= link_to user.name, user, style: "color: crimson;" %>
  <% else %>
  <%= link_to user.name, user , style: "color: crimson;"%>
  <% end %>
      <% else %>
         Incognito
         <% end %>
<%= user.points %> </li>
<% end %>
</div>
</div>
</div>
</div>


<div id="lead_form5" class="kani2">  
<div id="post_content">
<div class="card" style="width: 100%;">
<h5><%= t "lessons.greetings6" %> </h5>
<ul id="menu">
<li style="padding-left: 0%;"> <%= image_tag("kanikikun1.jpg", size: "350x600") %> </li>
<li style="padding-left: 0%;"> <%= image_tag("kanikikun2.jpg", size: "350x600") %> </li>
<li style="padding-left: 0%;"> <%= image_tag("kanikikun3.jpg", size: "350x600") %> </li>
</ul>
</div>
</div>
</div>

<div id="lead_form6">  
<div id="post_content" style="padding-left: 25%;">
<div class="card">
<h5><%= t "lessons.greetings7" %> </h5>

   <table class="buttons">
   
  <td style="padding: 1em; width: 350px;"><%= link_to(t("layouts.facebook"), user_omniauth_authorize_path(:facebook), class: "btn waves-effect waves-light") %></td>
</table>
<table class="buttons">

  <td style="padding: 1em; width: 350px;"><%= link_to(t("layouts.vk"), user_omniauth_authorize_path(:vkontakte), class: "btn waves-effect waves-light") %></td>
</table>
<table class="buttons">

    <td style="padding: 1em; width: 350px;"><%= link_to(t('layouts.registration'), new_user_registration_path, class: "btn") %></td>
  </table>


</div>
</div>
</div>

</div>
<% end %>
