<% @lessons.each do |lesson| %>

      <div id="post_content">
     <div class="card" style="width: 65%;">
     <ul id="menu">
    <li class="author">
       <% if lesson.user.name? %>
     <%=  lesson.user.name%> <%= t "lessons.who" %> <%= time_ago_in_words(lesson.created_at) %> <%= t "lessons.when" %>
     <% else %>
     Incognito <%= t "lessons.who" %> <%= time_ago_in_words(lesson.created_at) %> <%= t "lessons.when" %>
     <% end %>
    </li>﻿

  <li class="center"><% if lesson.user.name? %>
     <i> <%=  lesson.user.name%></i> 
     <% else %>
     <i> Incognito </i> 
     <% end %><%= image_tag(lesson.user.avatar.url(:medium), class: "circular") %></li>
  </ul>
    <h5 class "title" ><%= link_to lesson.title, lesson, {style: "color: black; position: relative"} %></h5>
     <i class="small material-icons">loyalty</i>
 
    <% lesson.tags.any? %>
    <div class="tags">
     <% lesson.tags.each do |tag| %>
     
        <%= link_to tag.name, tag_path(tag.name), class: "tag"%>
      
<% end %>
</div>

   <ul id="menu">

         <li id="like_post_<%=lesson.id%>", style="padding-top: 2%;">

       <%= link_to like_lesson_path(lesson), method: :put, remote: true, class: 'btn' do %>
     <o> <%= t "lessons.like" %> </o>
     <i class="small material-icons">thumb_up</i> <o id="liker_<%=lesson.id%>"> <%= lesson.get_upvotes.size %> </o>
 <% end %>
 </li>


   <li id="dislike_post_<%=lesson.id%>", style="padding-top: 2%;">
      <%= link_to dislike_lesson_path(lesson), method: :put, remote: true, class: 'btn' do %>
     <o> <%= t "lessons.dislike" %> </o>
     <i class="small material-icons">thumb_down</i> <o id="disliker_<%=lesson.id%>"> <%= lesson.get_downvotes.size %> </o>
 <% end %>
 </li>
</ul>

     <ul id="menu">

 <li class="small material-icons", style="padding-left: 4%">insert_chart</li>
<%= "#{lesson.impressionist_count} views" %>

</ul>
  <div calss="saveme">
  </div>
  </div>
 
 </div>
 

<% end %>

