
<div id="post_content">
<div class="thecard", style="width: 93%; background-color: white;">

<h1 class="title">
	<%= @lesson.title %>
</h1>

<% @lesson.tags.any? %>
    <div class="tags">
     <% @lesson.tags.each do |tag| %>
     
        <%= link_to tag.name, tag_path(tag.name), class: "tag"%>
      
<% end %>
</div>
<div class="views">
<%= "#{@lesson.impressionist_count}" %> <%= t "lessons.views" %>
</div>

 <p class="date">
   <% if @lesson.user.name? %>  
     <%=  @lesson.user.name%> <%= t "lessons.who" %> <%= time_ago_in_words(@lesson.created_at) %> <%= t "lessons.when" %>
     <% else %>
     Incognito <%= t "lessons.who" %> <%= time_ago_in_words(@lesson.created_at) %> <%= t "lessons.when" %>
     <% end %>
<p>

<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to(t("lessons.send"), new_message_path(:user => @lesson.user.id), {:style=>'color:white;'}) %><i class="material-icons right">send</i></button>
</p>
  <% if @lesson.user == current_user %>
 <button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to(t('posts.edit'), edit_lesson_path(@lesson), {:style=>'color:white;'}) %> </button>
 <button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to(t('posts.delete'), lesson_path(@lesson),:style=>'color:white;', method: :delete, data: {confirm: 'Are you sure? Ви впевнені? あなたは深刻ですか？'}) %><i class="material-icons right">delete</i> </button>
  </p>
 <% end %>


 <p class="body">
 <%= raw @lesson.body %>
 </p>
<% if @lesson.link?  %>
<iframe width="700" height="420" src="http://www.youtube.com/embed/<%=@lesson.uid %>"></iframe>
<% else %>

<% end %>

 <% if @lesson.image.file? %>
  <%=link_to image_tag(@lesson.image.url(:small)), @lesson.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
<% else %>
  
<% end %>


<% if @lesson.video? %>
<%= video_tag @lesson.video.url(:medium), controls: true, style: "max-width: 100%;" %>
 <% else %>

 <% end %>

 <p class="btn-group pull-right">
  <ul id="menu">
  
         <li id="like_post_<%=@lesson.id%>", style="padding-top: 2%;">

       <%= link_to like_lesson_path(@lesson), method: :put, remote: true, class: 'btn' do %> 
     <o> <%= t "lessons.like" %>  </o>
     <i class="small material-icons">thumb_up</i> <o id="liker_<%=@lesson.id%>"> <%= @lesson.get_upvotes.size %> </o>
 <% end %>
 </li>
        
   
   <li id="dislike_post_<%=@lesson.id%>", style="padding-top: 2%;">   
      <%= link_to dislike_lesson_path(@lesson), method: :put, remote: true, class: 'btn' do %> 
     <o> <%= t "lessons.dislike" %>  </o>
     <i class="small material-icons">thumb_down</i> <o id="disliker_<%=@lesson.id%>"> <%= @lesson.get_downvotes.size %> </o>
 <% end %>
 </li>
</ul>
</p>
<% if user_signed_in? %>
   <%= link_to(t("lessons.test"), tests_path, class: 'btn btn-default', style: "height: 100px; padding: 2.4em;") %>  

 <% else %>
 <% end %>
 <%= link_to(t("lessons.forum"), "http://blog.jankenpon.info/en" , class: 'btn btn-default', style: "height: 100px; padding: 2.4em;")%> 

  </div>

 </div>


 

